---
const response = await fetch("https://kea-alt-del.dk/t7/api/products");
const data = await response.json();
console.log(data);
import Product from "../components/Product.astro";
import Menu from "../components/Menu.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Menu />
    <h1>Astro</h1>
    <section>
      {
        data.map((thing) => {
          return <Product data={thing} />;
        })
      }
    </section>
  </body>
</html>
<style>
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
</style>
