---
const { data } = Astro.props;
---

<article>
  <h2>{data.productdisplayname}</h2>
  <div>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum nam
    dignissimos suscipit aut obcaecati, architecto dolores nemo, aspernatur enim
    ex minus, cum temporibus? Distinctio voluptate perspiciatis, impedit saepe
    ipsa voluptates?
  </div>
</article>

<script>
  document.querySelector("article");
</script>

<style>
  article {
    background: hotpink;
  }
</style>
